@media screen and (min-width: 300px) {
  .contact {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(1, 70, 56);
  }

  .contact-sec {
    background: rgb(1, 60, 68);
    padding: 60px 10px 60px 20px;
  }

  .contact-bio {
    font-size: 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
  }

  form {
    /* padding: 100px; */
  }

  .form-sec {
    margin: 40px;
  }

  label {
    font-size: 22px;
    font-weight: 900;
    color: white;
  }

  input {
    padding: 10px;
    cursor: pointer;
  }

  textarea {
    padding: 20px;
    cursor: pointer;
  }

  button {
    padding: 20px;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    color: black;
    border: none;
    font-weight: 900;
  }
}

@media screen and (min-width: 400px) {
  form {
    padding: 20px;
  }

  .form-sec {
    margin: 40px;
  }

  label {
    padding: 50px;
    font-size: 22px;
    font-weight: 900;
    color: white;
  }

  input {
    padding: 10px;
    cursor: pointer;
  }

  textarea {
    padding: 20px;
    cursor: pointer;
  }

  button {
    padding: 20px;
    border-radius: 12px;
    background: rgb(251, 251, 251);
    color: black;
    border: none;
    font-weight: 900;
  }
}

@media screen and (min-width: 576px) {
  form {
    padding: 20px;
  }

  .form-sec {
    margin: 40px;
  }

  label {
    padding: 50px;
    font-size: 22px;
    font-weight: 900;
    color: white;
  }

  input {
    padding: 10px;
    cursor: pointer;
  }

  textarea {
    padding: 20px;
    cursor: pointer;
  }

  button {
    padding: 20px;
    border-radius: 12px;
    background: rgb(251, 251, 251);
    color: black;
    border: none;
    font-weight: 900;
  }
}

@media screen and (min-width: 768px) {
  form {
    padding: 20px;
  }

  .form-sec {
    margin: 40px;
  }

  label {
    padding: 50px;
    font-size: 22px;
    font-weight: 900;
    color: white;
  }

  input {
    padding: 10px;
    cursor: pointer;
  }

  textarea {
    padding: 20px;
    cursor: pointer;
  }

  button {
    padding: 20px;
    border-radius: 12px;
    background: rgb(251, 251, 251);
    color: black;
    border: none;
    font-weight: 900;
  }
}

@media screen and (min-width: 992px) {
  form {
    padding: 20px;
  }

  .form-sec {
    margin: 40px;
  }

  label {
    padding: 50px;
    font-size: 22px;
    font-weight: 900;
    color: white;
  }

  input {
    padding: 10px;
    cursor: pointer;
  }

  textarea {
    padding: 20px;
    cursor: pointer;
  }

  button {
    padding: 20px;
    border-radius: 12px;
    background: rgb(251, 251, 251);
    color: black;
    border: none;
    font-weight: 900;
  }
}

@media screen and (min-width: 1200px) {
  form {
    padding: 20px;
  }

  .form-sec {
    margin: 40px;
  }

  label {
    padding: 50px;
    font-size: 22px;
    font-weight: 900;
    color: white;
  }

  input {
    padding: 10px;
    cursor: pointer;
  }

  .msg-label {
  }

  textarea {
    padding: 20px;
    padding-bottom: 200px;
    width: 50%;
    cursor: pointer;
  }

  button {
    padding: 20px;
    border-radius: 12px;
    background: rgb(251, 251, 251);
    color: black;
    border: none;
    font-weight: 900;
  }
}
