@media screen and (min-width: 300px) {
  .mission {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    background: rgb(1, 70, 56);
  }

  .mission-bio {
    font-size: 1rem;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    color: white;
  }
}
